@import '../../variables.scss';

header {
  display: grid;
  grid-template-columns: auto 250px;
  background-color: $dark-lighten;
  padding: $base-interface-spacing;

  h1{
    margin: 0;
    line-height: initial;
  }
}

main{
  padding: $base-interface-spacing;
}