@import '../variables.scss';

.loadingIndicator,
.responseContainer{
  background-color: $dark-lighten;
  border: solid 1px $dark;
  padding: $base-interface-spacing;
  margin: $base-interface-spacing 0;

  p{
    font-size: smaller;
    line-height: initial;
    margin: 0;
  }

  ul{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
      font-size: smaller;
      padding: $base-interface-spacing;
  
      &.success{
        background-color: $success-light;
        border: solid 1px $success;
      }
      &.error{
        background-color: $warning-light-red;
        border: solid 1px $warning-red;
      }
    }
  }
}