@import '../variables.scss';

button{
  background-color: $action-color;
  padding: $base-component-spacing;
  border: solid 1px $accent-darken;
  border-radius: 5px;

  &:hover{
    background-color: $accent-darken;
  }
}