@import '../variables.scss';

label{
  display: block;
  margin-bottom: $base-interface-spacing / 2;

  &:not(:first-child){
    margin-top: 2 * $base-interface-spacing;
  }

  &+input{
    display: block;
    width: 100%;
  }
}

.helpMessage{
  background-color: $dark-lighten;
  padding: $base-interface-spacing;
  margin-top: $base-interface-spacing / 2;
  border: solid 1px darken($dark-lighten, 10%);

  p{
    font-size: smaller;
    font-style: italic;
    margin: 0;
    line-height: initial;
    color: rgba($text-color, .5);
  }
}