@import '../variables.scss';

.formError{
  background-color: $warning-light-red;
  padding: $base-interface-spacing;
  border: solid 1px $warning-red;
  margin: $base-interface-spacing 0;

  ul{
    padding: 0 0 0 $base-interface-spacing;
    margin: 0;

    li{
      font-size: smaller;
      line-height: initial;
      padding: 5px 0;
    }
  }
}