@import '../variables.scss';

input[type='text'],
input[type='email'],
input[type='password']{
  color: $dark;
  padding: 5px 10px;
  background-color: $light;
  border: solid 1px $light-darken;
  border-radius: 5px;

  // &:invalid{
  //   border-bottom: solid 2px red;
  // }
  // &:valid{
  //   border-bottom: solid 2px lightgreen;
  // }
}