@import '../variables.scss';

.modalBackground{
  background: rgba(#000, .75);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-Index: 1;
}

.modalContentWrap{
  position: fixed;
  // background-color: white; 
  background-color: $main-color;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  padding: 0;

  header{
    display: grid;
    grid-template-columns: auto 50px;
    line-height: initial;

    h3{
      margin: 0;
      line-height: initial;
    }

    span{
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .modalContent{
    padding: $base-interface-spacing;
  }
}