@import './variables.scss';

*{
  box-sizing: border-box;
}

body{
  background-color: $main-color;
  margin: 0;
  padding: $base-interface-spacing;
  vertical-align: baseline;
}

h1,h2,h3,h4,h5,h6,p,button,span,label,input,li{
  font-family: $font-family;
  color: $text-color;
  font-variant: normal;
}

p,button,span,label,input,li{
  font-size: $font-size;
  line-height: 20px;
}

a{
  color: $action-color;
  text-decoration: underline;
}