// Colors
$dark: #232931;
$dark-lighten: #393e46;
$accent: #4ecca3;
$accent-darken: #38b189;
$light: #eee;
$light-darken: #ddd;
$warning-red: #9f3a38;
$warning-light-red: rgba(#9f3a38, .25);
$success: #28a745;
$success-light: rgba(#28a745, .25);

$main-color: $dark;
$text-color: $light;
$action-color: $accent;

// Typography
$font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-size: 14pt;
$font-weight: 300;

// Settings 
$base-interface-spacing: 15px;
$base-component-spacing: 10px 20px;